
.container-fluid {
  height: 100vh;  
  display: flex;
  flex-direction: row;
  margin: 0; 
  padding: 0; 
}

.register-form-container {
  max-width: 600px; 
  width: 100%; 
  padding: 40px;
  background-color: white;
  border-radius: 15px; 
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
  border: 3px  
}

body {
  margin: 0;
  padding: 0;
}

.bg-dark-blue {
  background-color: #003366; 
}

.btn-dark-blue {
  background-color: #003366 !important;
  border-color: #003366 !important;
  color: white !important;
}

.btn-dark-blue:hover {
  background-color: #002244 !important;
  border-color: #002244 !important;
  color: white !important;
}
